h1{
    color:#006699;
    text-align:center;
}

.welcome_buttons{
    text-align:center;
    width: 35%;
    margin-left: 32.5%;
    margin-top: 5%
    /*border-left: 1px solid  #000000;
    border-right: 1px solid #000000;*/
}

.welcome_button{
    display:inline-block;
    padding:0.3em 1.2em;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#86b6e6;
    text-align:center;
    transition: all 0.2s;

    border: none;

    font-size: 16px;
    
    margin-inline: 13%;
}
.welcome_button:hover{
    background-color:#4095c6;
}