.query_dropdown{
    width: 75%;
    margin-left: 12.5%;
}

.left{
    position:absolute;
    text-align: left;
    font-size: 85%;
    width:25%;
    padding:20px;    
}

label{
    line-height: 30px;
}

.right{
    margin-left: 26%;
    width:72%;
    padding-left:3%;   
    padding-top:6%;  
}