.sign_page{
    margin-top: -20px;
}

.left_symbol{
    float: left;
    margin-left: 15%;
    /*display: flex;*/
}

h3{
    color:#006699;
    text-align:center;
}

/*.signin_title{
    position: absolute;
    margin-left: 40%;
    transform: translateY(-32%);
    border-left: 5px dotted #000000;
    border-right: 5px dotted #000000;
}*/

/*.test_title{
    position: absolute;
    width: 100%;
    transform: translateY(-32%);
    border-left: 5px dotted #003366;
    border-right: 5px dotted #003366;
}*/

.sign_form{
    /*transform: translateY(-50px);*/
    width: 100%;
    /*border-left: 5px dotted #000000;
    border-right: 5px dotted #000000;*/

    position: relative;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

input{
    margin-bottom: 15px;
}

.submit_button{
    float: right;
    margin-top: 10px;

    display:inline-block;
    padding:0.3em 1.2em;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#86b6e6;
    text-align:center;
    transition: all 0.2s;

    border: none;

    font-size: 13px;
}

.submit_button:hover{
    background-color:#4095c6;
}