body{
    /*background-color: #e7f4ff;*/
    background-color: #f5f8fa;/*#D5FAFE;*/
    overflow:auto;
    z-index:-1;
}

.page{
    /*margin-left: 10%;*/
    width: 80%;
    left:10%;
	margin-top:5px;
	margin-bottom:5px;
    padding-left: 5px;
	padding-right: 5px;
	z-index:1;
	
	position: relative;   /*重要！保证footer是相对于wapper位置绝对*/  
    height: auto;          /* 保证页面能撑开浏览器高度时显示正常*/  
    min-height: 100% ;
}

.logo{
    position:relative;
    margin-left: 3%;
}
.menu{
	position:absolute;
	top:75px;
    right:5%;
	text-align:right;
	
}

a{
	font-size: 16px;
	font-weight: bold;
    margin-left:8px;
    color:#3399CC;
}
a:link{color:#3399CC;text-decoration:none;}
a:visited{color:#3399CC;text-decoration:none;}
a:hover{color:#006699;text-decoration:underline;} 
a.active {font-size: 16px;color:#006699;text-decoration:underline;} 

.user{
    display: inline;
    margin-left:35px;
}
.user_icon{    
    vertical-align:middle;
}

.content{
    position: relative;
    margin-top: -4.5%;
}

.content{
    /*word-break: break-all; *//* if break in a word*/ 
    word-wrap: break-all;
}

.btn_submitQ{
    float: right;
    width: auto;
    display:inline-block;
    text-align: center;
    /*padding:0.3em 1.2em;*/
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#86b6e6;
    transition: all 0.2s;

    border: none;

    font-size: 14px;
    /*font-weight:bold;*/
}
.btn_submitQ:hover{
    background-color:#4095c6;
}