{{define "/user/register.shtml"}}
<!DOCTYPE html>
<html>

<head>
    {{template "/chat/head.shtml"}}
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <!-- <title>Register</title> -->
    <link rel="stylesheet" href="/asset/plugins/mui/css/mui.css" />
    <link rel="stylesheet" href="/asset/css/login.css" />
    <script src="/asset/plugins/mui/js/mui.js"></script>
    <script src="/asset/js/vue.min.js"></script>
    <script src="/asset/js/util.js"></script>
</head>

<body>

    <header class="mui-bar mui-bar-nav">
        <h1 class="mui-title">Please register</h1>
    </header>
    <div class="mui-content" id="pageapp">
        <form id='login-form' class="mui-input-group">
            <div class="mui-input-row">
                <label>Email</label>
                <input required v-model="user.email" name="form_email" placeholder="Please Input your email" type="text"
                    class="mui-input-clear mui-input">
            </div>
            <div class="mui-input-row">
                <label>Nickname</label>
                <input required v-model="user.nickname" name="form_nickname" placeholder="Please Input your nickname"
                    type="text" class="mui-input-clear mui-input">
            </div>
            <div class="mui-input-row">
                <label>Password</label>
                <input required v-model="user.password" name="form_pwd" placeholder="Please Input your password"
                    type="password" class="mui-input-clear mui-input">
            </div>
        </form>
        <div class="mui-content-padded">
            <button @click="userRegister" type="button" class="mui-btn mui-btn-block mui-btn-primary">Register</button>
            <div class="link-area">
                <a>Already have an account?</a>
                <span class="spliter">|</span>
                <a id='reg' href="/user/login.shtml">Login</a>
            </div>
        </div>
        <div class="mui-content-padded oauth-area">
        </div>
    </div>
</body>

</html>
<script>
    var app = new Vue({
        el: "#pageapp",
        data: function () {
            return {
                user: {
                    email: "",
                    password: "",
                    nickname: '',
                }
            }
        },
        methods: {
            userRegister() {
                if (this.user.nickname == '' || this.user.password == '' || this.user.email == '') return mui.alert("Cannot be blank")
                util.post("register", this.user).then(res => {
                    if (res.code != 0) {
                        mui.toast(res.msg)
                    } else {
                        alert("Register Success!");
                        //window.location.href("/user/login.shtml");

                        util.post("login", this.user).then(res => {
                            if (res.code !== 0) {
                                return mui.toast(res.msg)
                            } else {
                                var url = "/chat/index.shtml?id=" + res.data.id + "&token=" + res.data.token;
                                userInfo(res.data);
                                userId(res.data.id);
                                //window.alert("Login Success")
                                window.location.href = url;
                            }
                        })
                    }
                })
            },
        }
    })
</script>
{{end}}