{{define "/chat/profile.shtml"}}
<div id="tabbar-profile" class="mui-control-content" v-show="win=='main'">
    <header class="mui-bar mui-bar-nav">
        <h1 class="mui-title">Profile</h1>
    </header>
    <ul class="mui-table-view mui-table-view-chevron">
        <li class="mui-table-view-cell mui-media">
            <img class="mui-media-object mui-pull-left head-img" id="head-img" :src="profile.avatar ||'/asset/images/gator.png'">
            <div class="mui-media-body">
                <span v-text="profile.nickname">betatech</span>
            </div>
        </li>
    </ul>
    <ul class="mui-table-view">
        <li @click="addfriend" class="mui-table-view-cell">
            <a class="mui-navigate-right" name="btn_addF">
                Add Friend
            </a>
        </li>
        <li @click="joincomunity" class="mui-table-view-cell">
            <a class="mui-navigate-right"  name="btn_joinG">
                Join Group
            </a>
        </li>
        <li  class="mui-table-view-cell">
            <a class="mui-navigate-right" href="createcom.shtml" name="btn_newG">
                New Group
            </a>
        </li>
        <li @click="changename" class="mui-table-view-cell">
            <a class="mui-navigate-right">
                Change Nickname
            </a>
        </li>
    </ul>
    <ul class="mui-table-view" style="margin-top: 25px;">
        <li @click="quit" class="mui-table-view-cell">
            <a style="text-align: center;color: #FF3B30;">
                Logout and Exit
            </a>
        </li>
    </ul>
</div>
{{end}}