{{define "/chat/tabmenu.shtml"}}
<nav class="mui-bar mui-bar-tab" id="menubar">
    <a class="mui-tab-item mui-active" href="#tabbar-concat">
        <span class="mui-icon mui-icon-chat"><span class="mui-badge" v-text="friends.length"></span></span>
        <span name="btn_contacts" class="mui-tab-label">Contacts</span>
    </a>
    <a class="mui-tab-item" href="#tabbar-group">
        <span class="mui-icon mui-icon-chatboxes"><span class="mui-badge" v-text="communitys.length"></span></span>
        <span name="btn_groups" class="mui-tab-label">Groups</span>
    </a>
    <a class="mui-tab-item" href="#tabbar-profile">
        <span class="mui-icon mui-icon-person"></span>
        <span name="btn_profile" class="mui-tab-label">Profile</span>
    </a>

</nav>
{{end}}